<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
            display: block;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    <link type="text/css"  rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="index">
        <h2>发票信息管理系统</h2>
        <nav>
            <a class="operate" href="/invoice/add">增加发票信息</a>
            <a class="operate" href="/invoice/delete">删除发票信息</a>
            <a class="operate" href="/invoice/edit">编辑发票信息</a>
        </nav>
        <table>
            <tbody>
                <tr>
                    <td>发票序号(key)</td>
                    <td>登记序号(key)</td>
                    <td>付款方式序号(key)</td>
                    <td>提出日期 *</td>
                    <td>付款日期 *</td>
                    <td>信用卡号 *</td>
                    <td>拥有者姓名 *</td>
                    <td>到期日 *</td>
                </tr>
                <%for (let i=0,len=result.length;i<len;i++){%>
                <%let rows = result[i]%>
                <tr>
                    <td><%=rows['invoiceNo']%></td>
                    <td><%=rows['registrationNo']%></td>
                    <td><%=rows['pMethodNo']%></td>
                    <td><%=new Date(rows['dateRaised']).toLocaleDateString()%></td>
                    <td><%=new Date(rows['datePaid']).toLocaleDateString()%></td>
                    <td><%=rows['creditCardNo']%></td>
                    <td><%=rows['holdersName']%></td>
                    <td><%=new Date(rows['expiryDate']).toLocaleDateString()%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <h2><a href='/'>跳转至首页</a></h2>
    </div>
</body>
</html>


