<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="keywords" content="关键词">
    <meta name="description" content="描述">
    <meta name="author" content="">
    <style>
        body {
            font-family: "Microsoft YaHei", serif;
        }

        body, dl, dd, p, h1, h2, h3, h4, h5, h6 {
            margin: 0;
        }

        ol, ul, li {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        img {
            border: none;
            display: block;
        }

        a {
            text-decoration: none;
            color: #000;
        }
    </style>
    <link type="text/css"  rel="stylesheet" href="/css/index.css">
</head>
<body>
    <div class="index">
        <h2>登记信息管理系统</h2>
        <nav>
            <a class="operate" href="/registration/add">增加登记信息</a>
            <a class="operate" href="/registration/delete">删除登记信息</a>
            <a class="operate" href="/registration/edit">编辑登记信息</a>
        </nav>
        <table>
            <tbody>
                <tr>
                    <td>登记序号(key)</td>
                    <td>代表序号(key)</td>
                    <td>课程费用序号(key)</td>
                    <td>登记员工序号(key)</td>
                    <td>课程序号(key)</td>
                    <td>登记日期 *</td>
                </tr>
                <%for (let i=0,len=result.length;i<len;i++){%>
                <%let rows = result[i]%>
                <tr>
                    <td><%=rows['registrationNo']%></td>
                    <td><%=rows['delegateNo']%></td>
                    <td><%=rows['courseFeeNo']%></td>
                    <td><%=rows['registerEmployeeNo']%></td>
                    <td><%=rows['courseNo']%></td>
                    <td><%=new Date(rows['registrationDate']).toLocaleDateString()%></td>
                </tr>
                <%}%>
            </tbody>
        </table>
        <h2><a href='/'>跳转至首页</a></h2>
    </div>
</body>
</html>


